.orders {
  width: 80%;
  margin: 0 auto;
  color: #2d3748;
  &__header {
    color: #2b6cb0;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem ;
  }
  &-block {
    border: 1px #2d3748 solid;
    padding: 1rem 1rem 1.5rem;
    &_active {
      border-left: 2px #4299e1 solid;
    }
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      color: #2b6cb0;
      font-size: 1rem;
    }
    &__show-info {
      outline: none;
      margin-top: 1rem;
      color:#2b6cb0;
      font-weight: 700;
      text-decoration: underline;
      &:focus {
        outline: none
      }
    }
  }
}

.info {
  padding: 0.75rem 0;
  border-bottom: 1px solid #2b6cb0;
  &-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 0.5rem;
    &__item {
      width: 50%;
    }
  }
}

.title {
    font-size: 1rem;
    margin-bottom: 0.25rem;
    text-decoration: underline;
    font-weight: 700;
  }

@media (max-width: 1280px) {
  .orders {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .info-block {
    flex-direction: column;
    &__item {
      width: 80%;
    }
  }
}


