.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f7fafc;
}

.login {
  max-width: 24rem;
  padding: 1.5rem 2rem 2rem;
  margin-bottom: 1rem;
  background-color: #fff;
  border-radius: 0.25rem;
  border-width: 1px;
  color: #4a5568;
  &__label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: .875rem;
    font-weight: 700;
  }
  &__input {
    width: 100%;
    padding: 0.5rem 0.75rem;
    margin-bottom: 1rem;
    line-height: 1.25;
    border-width: 1px;
    border-radius: 0.25rem;
    appearance: none;
    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
    }
  }
}